.row {
  border-top: solid #000;
  border-bottom: solid #000;
  background-color: #F0E68C;
  margin: 2%;  
}

.col-sm {
 border-left: dashed #000;
 padding: 20px;
}

.col-auto {
 border-right: dashed #000;
 border-left: dashed #000;
 padding: 20px;
}

.col {
 border-left: dashed #000;
 border-right: dashed #000;
 padding: 20px;
}
.col-md {
 border-right: dashed #000;
 padding: 20px;
}


.col-lg-4 {
 border-right: dashed #000;
}

button {
 width: 30%;
}
